@media screen and (max-width: 990px) {
  .hero-sec{
    height: 500px;
    overflow: hidden;
  }
  .hero-content h1{
    font-size: 3rem;
    max-width: fit-content;
    font-weight: 400;
    padding: 0 1rem;
  }
  h2{
    font-size: 2rem;
  }
  .sticky-img-bx img{
    height: 208px;
  }
  .sticky-img-bx{
    height: 208px;
    width: 100%;
  }
  .choose-us-bx{
    margin-bottom: 2rem;
  } 
  .cta-main-bx{
    flex-wrap: wrap;
    gap: 2rem;
  }
  .hero-sec video{
    width: initial;
    height: 100%;
  }

  .register{
    display: none;
  }

  .container-fluid {
    padding: 0 1rem;
  }
  .home-nav-link{
    height: 100%;
    width: 100%;
  }
  .inn-banner-title{
    font-size: 3rem;
  }
  .abt-hero-content p br{
    display: none;
  }
  .cmp-overview-content-bx{
    margin-top: 2rem;
  }
  .viss-miss-bx{
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 767px){
    .company-overview-sec .heading-bx h2 br, p br{
        display: none;
    }
    .inn-banner-title{
        font-size: 2rem;
    }
    .inn-banner-title br{
        display: none;
    }
    .abt-hero-content p{
        font-size: 1rem;
    }
    .icon-bx span{
        height: 65px;
        width: 80px;
        font-size: 2rem;
    }
    .cmp-overview-content-bx h6{
        font-size: 1.7rem;
    }

    .header-quote-bx .get-quote{
        display: none;
    }

    .home-nav-link .mobile-btn{
        display: block;
    }
}

@media screen and (max-width: 580px){
  
  .home-nav-link .mobile-btn:hover{
    color: var(--primary-color);
  }
  .header-quote-bx .mobile-btn-2{
    display: none;
  }
  .process-step-main-bx{
    flex-wrap:wrap;
    gap: 1rem;
  }
  .cta-main-bx h2{
    font-size: 1.7rem;
  }
  .quote-content{
    padding: 1rem 1.5rem;
    font-size: 1rem;
  }

  .cta-quote-link span {
    height: 48px;
    width: 48px;
  }

  .footer-sec .mb-sm-4{
    margin-bottom: 2rem !important;
  }
  .cta-main-bx {
        flex-wrap: wrap;
        gap: 1rem;
    }
}