/* font-family: "Poppins", sans-serif; */
:root{
    --primary-color: #141139;
    --font-color:#777;
    --white-color:#fff;
    --secondry-color:#1C1C1C;


    --transition:0.3s ease-in-out;
}
*{
    margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	box-sizing: border-box;
}

body{
    color: var(--primary-color);
	font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
p{
    margin: 0;
}

h2 {
    font-size: 2.7rem;
    font-weight: 400;
}

.container-fluid{
    padding: 0 2rem;
}


/* --- Reusable Css --- */

.sec-padding{
    padding: 3rem 0;
}

.get-quote{
    padding: 0.8rem 1rem;
    color: var(--heading-color);
    border-radius: 0.5rem;
}
.get-quote:hover{
    color: var(--white-color);
}

.header-bx .logo{
    color: var(--primary-color);
}

.header-bx .nav-link .btn-sign-up{
    background: rgb(84 84 84 / 62%);
}

.header-bx .header-quote-bx .get-quote {
    background: rgb(84 84 84 / 62%);
}

.header-bx .menue-bar-bx {
    background: rgb(84 84 84 / 62%);
}

.heading-bx{
    margin-bottom: 3rem;
}

.heading-bx small{
    display: block;
    margin-bottom: 1rem;
    text-decoration: underline;
    font-weight: 500;
}

.heading-bx p{
    margin-top: 1.5rem;
    line-height: 1.6;
}

/* --- Header --- */
header{
    padding: 0.6rem 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.nav-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    position: fixed;
    top: 10px;
    right: 0;
    z-index: 1000;
}
.logo{
    font-size: 1.8rem;
    color: var(--white-color);
    font-weight: bold;
}
.logo:hover{
    color: var(--heading-color);
}

.nav-link ul li a{
    color: var(--heading-color);
    font-weight: 500;
}

.menue-bar-bx {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white-color);
    padding: 0.6rem 1rem;
    color: var(--white-color);
    background: rgba(190, 190, 190, 0.418);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border-radius: 0.5rem;
    cursor: pointer;
}

.menue-bar-bx .menue-show{
    
    cursor: pointer;
    transition: var(--transition);
    /* color: var(--heading-color); */
    color: var(--white-color);
}

.hm-menue-bar-bx {
    font-size: 1.3rem;
    cursor: pointer;
    transition: var(--transition);
    position: absolute;
    top: 20px;
    right: 18px;
    height: 40px;
    width: 40px;
    /* background: #ebebeb; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
}

.hm-menue-bar-bx .menue-close{
    color: #777;
    font-size: 1.7rem;
}

/* .menue-bar-bx.active .menue-show{
    display: none;
}
.menue-bar-bx .menue-close{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    transition: var(--transition);
    color: var(--heading-color);
}

.menue-bar-bx.active .menue-close{
    display: block;
} */

.home-nav-link {
    position: fixed;
    top: 0;
    right: 0px;
    height: 634px;
    width: 380px;
    background: #ebebeb;
    padding: 2rem;
    z-index: 1000;
    transform: translateX(100%);
    transition: 0.8s ease-in-out;
    overflow-x: auto;
}

.home-nav-link.active{
    display: block;
    transform: translateX(0);
}

.home-nav-link ul{
    padding: 3rem 0;
}

.home-nav-link ul li{
    width: 100%;
}
.home-nav-link ul li a{
    color: var(--primary-color);
    font-size: 1.3rem;
    padding: 0.5rem 0;
    display: block;
    font-weight: 500;
}
.drop-down-btn{
    color: var(--heading-color);
    font-size: 1.4rem;
    padding: 0.5rem 0;
    font-weight: 500;
    cursor: pointer;
}

.home-nav-link ul .drop-down-bx .drop-down-menue{
    padding: 0 0 0 1rem;
    display: none;
}

.home-nav-link ul .drop-down-bx .drop-down-menue.active{
    display: block;
}

.home-nav-link ul .drop-down-bx .drop-down-menue li a{
    font-size: 1.2rem;
    font-weight: 500;
}

.header-quote-bx .get-quote{
    color: var(--white-color);
   background: rgba(190, 190, 190, 0.418);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.nav-link .btn-sign-up{
    color: var(--white-color);
    padding: 0.8rem 1rem;
    border-radius: 0.5rem;
}

.h-scroll .header-quote-bx .get-quote{
    background: rgb(84 84 84 / 62%);
    transition: var(--transition);
}
.h-scroll .menue-bar-bx{
    background: rgb(84 84 84 / 62%);
    transition: var(--transition);
}

.h-scroll .nav-link .btn-sign-up{
    background: rgb(84 84 84 / 62%);
    transition: var(--transition);
}

.header-bx .logo{
    color: var(--primary-color);
}



/* --- Hero Section --- */
.hero-sec{
    width: 100%;
    position: relative;
    overflow-y: hidden;
    height: 635px;
}

.hero-sec video{
    width: 100%;
}

.hero-sec::before{
    content: '';
    position: absolute;
    background: linear-gradient(180deg, rgb(59 58 58 / 54%) 0%, rgb(0 0 0 / 0%) 80%);
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.hero-content-bx {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 8;
}
.hero-content h1{
    font-size: 5rem;
    color: var(--white-color);
    max-width: 950px;
    padding: 0 2rem;
}


/* --- Service Section --- */

/* --- sticky Cards --- */
.sticky-card{
    height: 400px;
    width: 100%;
    box-shadow: 0 0 20px #c9c9c9;
    background: #fff;
    border-radius: 1.5rem;
    padding: 2rem;
    margin-bottom: 2rem;
}
.stcky-one{
    position: sticky;
    top:100px;
    left:0;
}
.stcky-two{
    position: sticky;
    top:120px;
    left:0;   
}

.stcky-three{
    position: sticky;
    top:150px;
    left:0;
}
.stcky-four{
    position: sticky;
    top:170px;
    left:0;
}
.stcky-five{
    position: sticky;
    top:190px;
    left:0;
}

.stcky-six{
    position: sticky;
    top:210px;
    left:0;
}

.stcky-seven{
    position: sticky;
    top:230px;
    left:0;
}

.stcky-eight{
    position: sticky;
    top:250px;
    left:0;
}

.sticky-img-bx img{
    width: 100%;
}


.srvc-sec .heading-bx{
    margin-bottom: 3rem;
}

.sticky-img-bx {
    height: 300px;
    width: 300px;
    margin:  1.2rem 0 0;
    
}

.sticky-img-bx img{
    width: 100%;
    object-fit: cover;
    height: 300px;
    border-radius: 1rem;
}

.sticky-content h4{
    font-size: 1.2rem;
    font-weight: 500;
}


/* --- Process Section --- */

.process-sec {
background: var(--primary-color);
}

.process-sec .heading-bx{
    margin-bottom: 3rem;
}

.process-sec .heading-bx h2{
    color: #c4c4c4;
}

.process-step-main-bx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    padding: 2rem;
    color: #c4c4c4;
}

.step-para{
    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px);
    transition: 0.5s ease-in-out;
}

.process-step-main-bx:hover .step-para{
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

/* .process-step-main-bx:hover{
    background: #ebebeb;
} */

.step-para{
    max-width: 400px;
}

.arrow-icon span{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: var(--transition);
}
.process-step-main-bx:hover .arrow-icon span{
    transform: rotate(0);
}

.step-title{
    font-size: 2rem;
}

/* --- Why choose us Section --- */

.bg-img-one{
    background: url('../img/srvcimg3.jpg');
    height: 400px;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.bg-img-two{
    background: url('../img/srvcimg1.jpg');
    height: 400px;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.bg-img-three{
    background: url('../img/srvcimg2.jpg');
    height: 400px;
    background-size: cover;
    border-radius: 1rem;
    overflow: hidden;
}

.choose-us-content{
    padding: 1rem;
    background: rgb(92 91 91 / 45%);
    height: 100%;
    color: var(--white-color);
}

.choose-title{
    font-size: 1.7rem;
    font-weight: 500;
}   

.choose-us-content p{
    margin-top: 12rem;
    font-size: 1.4rem;
}

.choose-sec .heading-bx{
    margin-bottom: 3rem;
}

/* --- Faq Section --- */

.accordian-content {
	max-width: 500px;
}
.accordian {
	margin-bottom: 1.5rem;
	max-width: 1000px;
	margin: 0 auto 1.5rem;
}

.accordian .contentBx .label {
	position: relative;
	padding: 1.5rem;
	cursor: pointer;
	display: flex;
	align-items: center;
	gap: 1rem;
	color: var(--font-colour);
	font-weight: 600;
	transition: 0.3s;
	font-size: 1.2rem;
}

.accordian .contentBx .label:hover{
    background: var(--primary-color);
    color: var(--white-color);
}

.accordian .contentBx.active .label {
    color: #fff;
    background:var(--primary-color);
	/* border-radius: 0.5rem 0.5rem 0 0; */
}
.ques-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 3rem;
	width: 3rem;
	border-radius: 0.5rem;
	background-color: var(--color-brown);
	color: var(--color-white);
}

.accordian .contentBx .label::before {
	content: '+';
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	font-size: 1.2rem;
	color: var(--font-colour);
	font-weight: 500;
    font-size: 1.8rem;
}

.accordian .contentBx .label:hover::before {
	color: #fff;
}

.accordian .contentBx.active .label::before {
	content: '-';
	color: #fff;
}

.accordian .contentBx {
	position: relative;
	/* border-radius: 0.5rem; */
	box-shadow: 0 0px 5px #c1bebe;
}

.accordian .contentBx .acc-content {
	position: relative;
	height: 0;
	overflow: hidden;
}

.accordian .contentBx.active .acc-content {
	height: inherit;
	padding: 1.5rem 1rem;
}

.accordian .contentBx .acc-content p{
	margin: 0;
}

.faq-sec .heading-bx{
    text-align: center;
}

/* --- Section Footer --- */

/* --- Footer --- */
.footer-sec{
    background: var(--primary-color);
    padding-top: 5rem;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.links li a{
    color: var(--white-color);
    transition: var(--transition);
    position: relative;
}
.links li a::after{
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background: var(--btn-hover-color);
    transition: var(--transition);
}
.links li a:hover::after{
    width: 100%;
}
/* .links li a:hover{
    color: var(--btn-hover-color);
    letter-spacing: 0.02rem;
} */

.links-group .fsz-18{
    font-size: 25px;
}

.links-group h6{
    color: var(--white-color);
}

.foot{
    border-top: 1px solid;
    border-color: var(--white-color);
    padding: 1rem 0;
    margin-top: 2rem;
}
.copy-right{
    color: var(--white-color);
    text-align: center;
}
.cr-dark1{
    color: var(--white-color);
}
.cr-dark1:hover{
    color: var(--white-color);
}
.foot-links{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.5rem;

} 
.foot-links a{
    color: var(--white-color);
}

.logo-footer {
    font-size: 2rem;
    color: var(--white-color);
}
.logo-footer:hover{
    color: var(--white-color);
}

.product-links h6{
    color: var(--white-color);
}
.product-links .fsz-18 {
    font-size: 25px;
}

/* --- CTA Section --- */

.cta-sec{
    background: var(--primary-color);
    padding: 2rem;
    position: relative;
}

/* .cta-sec::after{
    content: "";
    position: absolute;
    top:0;
    left:0;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    background: #a19f9f70;
    z-index: 2;
    overflow: hidden;
} */

.cta-main-bx{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 5;
}

.cta-main-bx h2{
    font-size: 3rem;
    color: var(--white-color);
}

.quote-btn{
    display: flex;
    align-items: center;
    gap: 0;  
    transition: var(--transition);
}
.quote-btn:hover{
    color: var(--primary-color);
    border-radius: 0;
    gap: 0.3rem;
}

.quote-content{
    background: #ebebeb;
    padding: 1rem 3rem;
    color: var(--primary-color);
    font-size: 1.2rem;
    border-radius: 1rem;
    transition: var(--transition);
    font-weight: 500;
}


.cta-quote-link span{
    height: 50px;
    width: 50px;
    background: #ebebeb;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    transform: rotate(-45deg);
    transition: var(--transition);
    color: var(--primary-color);
}

.cta-quote-link:hover span{
    transform: rotate(0deg);
}


/* --- Form Quote --- */

.quote-section{
    width:100%;
    max-width:1100px;
    border-radius:40px;
    overflow:hidden;
    background:
    radial-gradient(
        circle at left bottom,
        rgba(255,255,255,0.08) 0%,
        transparent 35%
    ),

    linear-gradient(
        135deg,
        #141139 0%,
        #1f1f35 55%,
        #2b2b2b 100%
    );

    box-shadow:
    0 25px 70px rgba(0,0,0,0.15);
    margin: 5rem auto 0;
}

.quote-wrapper{
    display:grid;
    grid-template-columns:1fr 1fr;
}

/* LEFT CONTENT */

.quote-section .quote-content-bx{
    padding:70px;
    color:#fff;
    position:relative;
}

.quote-content-bx small{
    display:inline-flex;
    align-items:center;
    gap:10px;

    padding:12px 18px;

    border-radius:50px;

    background:rgba(255,255,255,0.1);

    backdrop-filter:blur(12px);

    margin-bottom:25px;

    font-weight:500;
}

.quote-content-bx h2{
    font-size:58px;
    line-height:1.1;
    margin-bottom:24px;
}

.quote-content-bx p{
    color:rgba(255,255,255,0.75);
    line-height:1.9;
    margin-bottom:40px;
    max-width:500px;
}

.quote-features{
    display:flex;
    flex-direction:column;
    gap:18px;
}

.quote-features div{
    display:flex;
    align-items:center;
    gap:14px;

    color:rgba(255,255,255,0.88);
}

.quote-features i{
    width:45px;
    height:45px;

    border-radius:12px;

    background:rgba(255,255,255,0.1);

    display:flex;
    align-items:center;
    justify-content:center;
}

/* FORM */

.quote-form{
    background:#fff;
    padding:60px;
    border-radius:40px 0 0 40px;
}

.form-heading{
    margin-bottom:35px;
}

.form-heading h3{
    font-size:38px;
    color:#141139;
    margin-bottom:12px;
}

.form-heading p{
    color:#64748b;
    line-height:1.7;
}

.form-group{
    margin-bottom:22px;
}

.form-group label{
    display:block;
    margin-bottom:10px;
    font-weight:600;
    color:#1e293b;
}

.input-box{
    position:relative;
}

.input-box i{
    position:absolute;
    left:18px;
    top:50%;
    transform:translateY(-50%);
    color:#64748b;
}

.form-group input,
.form-group select,
.form-group textarea{
    width:100%;

    padding:18px 18px 18px 55px;

    border:none;

    outline:none;

    background:#f8fafc;

    border-radius:16px;

    font-size:15px;

    border:1px solid transparent;

    transition:.3s ease;
}

.form-group textarea{
    height:130px;
    resize:none;
    padding-top:18px;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus{
    border-color:#141139;
    background:#fff;
}

.submit-btn{
    width:100%;

    border:none;
    outline:none;

    padding:18px;

    border-radius:18px;

    background:linear-gradient(
        135deg,
        #141139 0%,
        #2b2b2b 100%
    );

    color:#fff;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.4s ease;
}

.submit-btn:hover{
    box-shadow:0 18px 35px rgba(20,17,57,0.25);
}

/* SUCCESS MESSAGE */

.success-message{
    margin-top:20px;

    background:#dcfce7;

    color:#166534;

    padding:16px;

    border-radius:14px;

    display:none;
}

/* --- Sign up page --- */

.signup-form-bx{
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container{
    width: 500px;
    padding: 2rem;
    margin-top: 1rem;
    box-shadow: 0 0 20px #ebebeb;
    border-radius: 1rem;
}


/* --- About Page CSS --- */

.abt-hero-content small{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.9rem;
    font-weight: 500;
    text-decoration: underline;
}

.inn-banner-title{
    font-size: 4rem;
    font-weight: 500;
    margin: 0 0 1rem;
}

.abt-hero-content p{
    font-size: 1.2rem;
    font-weight: 500;
}

.abt-hero-content{
    padding-top: 7rem;
}

.bg-sec-color{
    background: rgba(31, 29, 79, 0.98);
}

.cmp-overview-img-bx{
    height: 500px;
    width: 100%;
    border-radius: 1rem;
    overflow: hidden;
}

.cmp-overview-img-bx img{
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 1rem;
    filter: grayscale(100%);
    transition: var(--transition);
    transform: scale(1);
}

.cmp-overview-img-bx img:hover{
    filter: grayscale(0);
}

.cmp-overview-img-bx:hover img{
    transform: scale(1.1);
}

.icon-bx span{
    margin-bottom: 1.5rem;
    font-size: 2.7rem;
    background: #2929291c;
    height: 80px;
    width: 100px;
    border-radius: 0.8rem;
    display: flex;
    align-items:center;
    Justify-content: center;
    color: var(--primary-color);
}

.cmp-overview-content-bx{
    margin-top: 5rem;
    padding: 2rem;
    background: var(--white-color);
    border-radius: 1rem;
    transition: var(--transition);
}

.cmp-overview-content-bx:hover{
    box-shadow: 0 0 20px rgba(180, 180, 180, 0.842);
}

.cmp-overview-content-bx h6{
    font-size: 2rem;
    font-weight: 500;
}

.cmp-overview-content-bx p{
    line-height: 1.6;
}

.company-overview-sec .heading-bx {
    color: var(--white-color);
}

.viss-miss-bx{
    padding: 2rem;
    background: url(../img/srvcimg3.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
    border-radius: 1rem;
    position: relative;
    z-index: 1;
    color: var(--white-color);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.viss-miss-bx::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(49 45 91 / 74%);
    z-index: 2;
    border-radius: 1rem;

}
.viss-miss-bx::after{
    content: "";
    position: absolute;
    top: -56px;
    right: -56px;
    height: 200px;
    width: 200px;
    background: rgb(255 255 255 / 12%);
    border-radius: 100%;
    z-index: 3;
    transition: var(--transition);
}

.viss-miss-bx:hover::after{
    height: 250px;
    width: 250px;
}

.viss-miss-content-bx{
    position: relative;
    z-index: 4;
}

.viss-miss-content-bx .viss-miss-icon-bx span{
    margin-bottom: 3rem;
    font-size: 2.7rem;
    background: rgba(255, 255, 255, 0.388);
    height: 80px;
    width: 100px;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    Justify-content: center;
    color: var(--white-color);
}

.viss-miss-content-bx h6{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.viss-miss-content-bx p{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6;
}

.abt-chooseus-sec .heading-bx{
    margin-bottom: 0;
}

/* --- Services Section --- */

.srvc-sec{
    background: #ebebeb;
}
.srvc-img-bx img{
    width: 100%;
}

.srvc-num span{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 500;

}

.srvc-num h6{
    font-size: 2rem;
}